.shop {
  position: fixed;
  top:0;
  /* left: 0;
  right: 0;
  bottom: 0; */
  /* padding: 0 15px; */
}

.shop > ul {
  text-align: center;
}

.shop > ul>li {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border: 1px solid;
  cursor: pointer;
}
