.minerals {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 25vh;
  /* background: url("../../images/Minerals_SC2_Game1.webp");
  background-size: cover; */
}