.game {
  margin: 0 5%;
}

.game>h2 {
  margin: 0;
  padding: 0;
  height: 10vh;
}

.battleground {
  display: grid;
  grid-template:
    "a d e f"
    "b d e g"
    "c d e h"
}

.battleground>div {
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 10px;
  height: 28vh;
  margin: 5px;
}
