.game {
  margin: 0 5%;
}

.game>h2 {
  margin: 0;
  padding: 0;
  height: 10vh;
}

.shop_fight {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 26vh;
  margin: 5px;
}

.army_battle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.army_battle> span {
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 10px;
  height: 34vh;
  margin: 5px;
}

.minerals_product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.minerals_product > span {
  box-sizing: border-box;
  border-radius: 10px;
  height: 25vh;
  margin: 5px;
}